<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainwood.oa">

    <!-- 网络访问权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi访问权限-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取安装包大小权限-->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 查看大图 ImageActivity-->
        <activity
            android:name=".ui.activity.ImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- App首页 singleTask， 其余singleTop -->
        <!-- 启动页面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 忘记密码 ForgetPasswordActivity-->
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 首页 HomeActivity-->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 考勤模块 AttendanceActivity-->
        <activity
            android:name=".ui.activity.AttendanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!--
            客户管理模块
        -->
        <!-- 新建客户 CustomNewActivity-->
        <activity
            android:name=".ui.activity.CustomNewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 填写需求 DemandWriteActivity-->
        <activity
            android:name=".ui.activity.DemandWriteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 客户详情 CustomDetailActivity-->
        <activity
            android:name=".ui.activity.CustomDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 联系人 ContactActivity-->
        <activity
            android:name=".ui.activity.CommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 添加联系人 AddContactActivity-->
        <activity
            android:name=".ui.activity.AddContactActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 介绍客户 CustomIntroduceActivity-->
        <activity
            android:name=".ui.activity.CustomIntroduceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 客户管理成功页面 CustomSuccessActivity-->
        <activity
            android:name=".ui.activity.CustomSuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 客户列表 CustomListActivity-->
        <activity
            android:name=".ui.activity.CustomListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 跟进记录 FollowRecordActivity-->
        <activity
            android:name=".ui.activity.FollowRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 新建订单 OrderNewActivity-->
        <activity
            android:name=".ui.activity.OrderNewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 订单编辑 OrderEditActivity-->
        <activity
            android:name=".ui.activity.OrderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 添加费用计提 AddProvisionActivity-->
        <activity
            android:name=".ui.activity.AddProvisionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 新增跟进记录 AddFollowRecordActivity-->
        <activity
            android:name=".ui.activity.AddFollowRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 订单列表 OrderListActivity-->
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 客户订单列表 CustomOrderListActivity-->
        <activity
            android:name=".ui.activity.CustomOrderListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 沟通技巧 ExchangeSkillActivity-->
        <activity
            android:name=".ui.activity.ExchangeSkillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!--
        行政管理
        -->
        <!-- 角色管理 RoleManagerActivity-->
        <activity
            android:name=".ui.activity.RoleManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 角色详情 RoleDetailActivity-->
        <activity
            android:name=".ui.activity.RoleDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 部门管理 DepartManagerActivity-->
        <activity
            android:name=".ui.activity.DepartManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 部门详情 DepartDetailActivity-->
        <activity
            android:name=".ui.activity.DepartDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 职位管理 PostManagerActivity-->
        <activity
            android:name=".ui.activity.PostManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 职位详情 PostDetailActivity-->
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 员工管理 staffManagerActivity-->
        <activity
            android:name=".ui.activity.StaffManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 员工 staffMainActivity-->
        <activity
            android:name=".ui.activity.StaffMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 工作经历详情 ExperienceDetailActivity-->
        <activity
            android:name=".ui.activity.ExperienceDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 收支详情 PaymentDetailActivity-->
        <activity
            android:name=".ui.activity.PaymentDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 管理制度 ManagerSystemActivity-->
        <activity
            android:name=".ui.activity.ManagerSystemActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 管理制度详情 SystemDetailActivity-->
        <activity
            android:name=".ui.activity.SystemDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 记录管理 RecordManagerActivity-->
        <activity
            android:name=".ui.activity.RecordManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 记录详情 RecordDetailActivity-->
        <activity
            android:name=".ui.activity.RecordDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!-- 行政处罚 AdminPunishActivity-->
        <activity
            android:name=".ui.activity.AdminPunishActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <!--
        系统设置
        -->
        <!-- 系统日志 LogcatActivity-->
        <activity
            android:name=".ui.activity.LogcatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />


        <!--
        三方集成
        -->
        <!-- TBS文件预览 TbsActivity-->
        <activity
            android:name=".ui.activity.TbsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>