<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainwood.oa">

    <!-- 网络访问权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi访问权限-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取安装包大小权限-->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_logo_v1"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/img_logo_v1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 查看大图 ImageActivity-->
        <activity
            android:name=".ui.activity.ImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        四种启动模式的区别和常用场景：
        1、singleTask模式运用场景
            最常见的应用场景保持应用开启之后只有一个activity实例。最典型的就是应用中的Home页。
            假设用户在主页跳转到其他页面，运行多次操作后想返回到主页，假设不使用SingleTask模式，在点击返回的过程中会多次看到主页，这明显就是设计不合理了。
             如果在栈中已经有该Activity的实例，就重用该实例(会调用实例的onNewIntent())。重用时，会让该实例回到栈顶，因此在它上面的实例将会被移除栈。
             如果栈中不存在该实例，将会创建新的实例放入栈中（此时不会调用onNewIntent()）。
        2、SingleTop模式运用场景
            假设你在当前的Activity中又要启动同类型的Activity，此时建议将此类型Activity的启动模式指定为SingleTop，能够降低Activity的创建，节省内存！
             如果在任务的栈顶正好存在该Activity的实例， 就重用该实例，并调用其onNewIntent()，否者就会创建新的实例并放入栈顶(即使栈中已经存在该Activity实例，
             只要不在栈顶，都会创建实例，而不会调用onNewIntent()，此时就跟standard模式一样)。
        3、standard
            默认启动模式，每次激活Activity时都会创建Activity，并放入任务栈中，永远不会调用onNewIntent()。
        4、singleInstance  
            在一个新栈中创建该Activity实例，并让多个应用共享改栈中的该Activity实例。一旦改模式的Activity的实例存在于某个栈中，
            任何应用再激活改Activity时都会重用该栈中的实例，其效果相当于多个应用程序共享一个应用，不管谁激活该Activity都会进入同一个应用中。
        -->
        <!--
        screenOrientation：设置屏幕的显示方向 https://blog.csdn.net/m940034240/article/details/76619130
        -->
        <!-- 启动页面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 忘记密码 ForgetPasswordActivity-->
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 首页 HomeActivity-->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />

        <!-- 考勤模块 AttendanceActivity-->
        <activity
            android:name=".ui.activity.MineAttendanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
            客户管理模块
        -->
        <!-- 新建客户 CustomNewActivity-->
        <activity
            android:name=".ui.activity.CustomNewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attendance_title"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 填写需求 DemandWriteActivity-->
        <activity
            android:name=".ui.activity.DemandWriteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 客户详情 CustomDetailActivity-->
        <activity
            android:name=".ui.activity.CustomDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 联系人 ContactActivity-->
        <activity
            android:name=".ui.activity.CommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 添加联系人 AddContactActivity-->
        <activity
            android:name=".ui.activity.AddContactActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 介绍客户 CustomIntroduceActivity-->
        <activity
            android:name=".ui.activity.CustomIntroduceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 客户管理成功页面 CustomSuccessActivity-->
        <activity
            android:name=".ui.activity.CustomSuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 客户列表 CustomListActivity-->
        <activity
            android:name=".ui.activity.CustomListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 跟进记录 FollowRecordActivity-->
        <activity
            android:name=".ui.activity.CustomFollowRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 回款记录详情 ReceivableDetailActivity-->
        <activity
            android:name=".ui.activity.ReceivableDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 开票信息 BillingDataActivity-->
        <activity
            android:name=".ui.activity.BillingDataActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 客户开票记录 InvoiceRecordActivity-->
        <activity
            android:name=".ui.activity.InvoiceRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 开票申请  InvoiceApplyActivity-->
        <activity
            android:name=".ui.activity.InvoiceApplyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 新建订单 OrderNewActivity-->
        <activity
            android:name=".ui.activity.OrderNewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 订单编辑 OrderEditActivity-->
        <activity
            android:name=".ui.activity.OrderEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 订单详情 OrderDetailActivity-->
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 添加费用计提 AddProvisionActivity-->
        <activity
            android:name=".ui.activity.AddProvisionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 新增跟进记录 AddFollowRecordActivity-->
        <activity
            android:name=".ui.activity.AddFollowRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 订单列表 OrderListActivity-->
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 客户订单列表 CustomOrderListActivity-->
        <activity
            android:name=".ui.activity.CustomOrderListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 沟通技巧 ExchangeSkillActivity-->
        <activity
            android:name=".ui.activity.ExchangeSkillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        行政管理
        -->
        <!-- 角色管理 RoleManagerActivity-->
        <activity
            android:name=".ui.activity.RoleManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 角色详情 RoleDetailActivity-->
        <activity
            android:name=".ui.activity.RoleDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 部门管理 DepartManagerActivity-->
        <activity
            android:name=".ui.activity.DepartManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 部门详情 DepartDetailActivity-->
        <activity
            android:name=".ui.activity.DepartDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 职位管理 PostManagerActivity-->
        <activity
            android:name=".ui.activity.PostManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 职位详情 PostDetailActivity-->
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 员工管理 staffManagerActivity-->
        <activity
            android:name=".ui.activity.StaffManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 工作日 WorkDayActivity-->
        <activity
            android:name=".ui.activity.WorkDayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 通讯录 AddressBookActivity-->
        <activity
            android:name=".ui.activity.AddressBookActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 联系人 ContactsActivity-->
        <activity
            android:name=".ui.activity.ContactsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 员工 staffMainActivity-->
        <activity
            android:name=".ui.activity.StaffMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 工作经历详情 ExperienceDetailActivity-->
        <activity
            android:name=".ui.activity.ExperienceDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 收支记录列表 BalanceRecordActivity-->
        <activity
            android:name=".ui.activity.BalanceRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 收支详情 PaymentDetailActivity-->
        <activity
            android:name=".ui.activity.PaymentDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 分类统计 ClassificationStaticsActivity-->
        <activity
            android:name=".ui.activity.ClassificationStaticsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 收支曲线 BalanceCurveActivity-->
        <activity
            android:name=".ui.activity.BalanceCurveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 员工数曲线 StaffCurveActivity-->
        <activity
            android:name=".ui.activity.StaffCurveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 管理制度 ManagerSystemActivity-->
        <activity
            android:name=".ui.activity.ManagerSystemActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 文章管理详情 ArticleDetailActivity-->
        <activity
            android:name=".ui.activity.ArticleDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 记录管理 RecordManagerActivity-->
        <activity
            android:name=".ui.activity.RecordManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 记录详情 RecordDetailActivity-->
        <activity
            android:name=".ui.activity.RecordDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 行政处罚 AdminPunishActivity-->
        <activity
            android:name=".ui.activity.AdminPunishActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 考勤记录 AttendanceActivity-->
        <activity
            android:name=".ui.activity.AttendanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        财务管理
        -->
        <!-- 费用报销 ReimbursementActivity-->
        <activity
            android:name=".ui.activity.ReimbursementActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 费用详情 CostDetailActivity-->
        <activity
            android:name=".ui.activity.CostDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 账户金额 AccountFundsActivity-->
        <activity
            android:name=".ui.activity.AccountFundsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        知识管理
        -->
        <!-- 办公文件 OfficeFileActivity-->
        <activity
            android:name=".ui.activity.OfficeFileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 附件管理 AttachManagerActivity-->
        <activity
            android:name=".ui.activity.AttachManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 跟进记录 FollowRecordActivity-->
        <activity
            android:name=".ui.activity.FollowRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        系统设置
        -->
        <!-- 系统日志 LogcatActivity-->
        <activity
            android:name=".ui.activity.LogcatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 日志详情 LogcatDetailActivity-->
        <activity
            android:name=".ui.activity.LogcatDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 帮助中心 HelperActivity-->
        <activity
            android:name=".ui.activity.HelperActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 个人中心-->
        <!-- 个人资料 MineInfoActivity-->
        <activity
            android:name=".ui.activity.MineInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 我的补卡记录 MineReissueCardActivity-->
        <activity
            android:name=".ui.activity.MineReissueCardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 补卡申请 ReissueApplyActivity-->
        <activity
            android:name=".ui.activity.ReissueApplyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 我的公共页面 MineCommonActivity-->
        <activity
            android:name=".ui.activity.MineCommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 我的请假记录 MineRecordsActivity-->
        <activity
            android:name=".ui.activity.MineRecordsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 我的开票记录 MineInvoiceRecordActivity-->
        <activity
            android:name=".ui.activity.MineInvoiceRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 修改密码 ChangePwdActivity-->
        <activity
            android:name=".ui.activity.ChangePwdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        待办事项
        -->
        <!-- 待办事项详情 BlockLogDetailActivity-->
        <activity
            android:name=".ui.activity.BlockLogDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!-- 搜索Activity SearchActivity-->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

        <!--
        三方集成
        -->
        <!-- TBS文件预览 TbsActivity-->
        <activity
            android:name=".ui.activity.TbsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />

    </application>

</manifest>